<div class="row-fluid">
<div class="span6">
<h4>What's PRMapSelector</h4>
<p>
PRMapSelector(PRマップセレクター)は、<%= link_to "BF2:PR","http://www.realitymod.com/" %>の日本人コミュニテイである<%= link_to "Battlefield2:ProjectReality 日本総合コミュニティ" , "http://projectreality-jp.blogspot.jp/" %>で毎週土曜日に行われているイベントにおいて、
マップの選定を補助出来るよう作られたWebサイトです。ちなみに製作者は上記コミュニテイのユーザーの一人であり、このサイトはコミュニティの公認のものではありません。
</p>
<hr>
<h4>製作者について</h4>
<p>
製作者はBF2:PR界隈にltakeshi(まれにItakeshi)という名前でウロウロしてる奴が作ってます。
twitterやSkypeの日本人間の連絡網に存在してるんで、連絡ごとなどはそっちまでいただければ幸いです。尚twitterのIDは以下です。</br>
</br>
twitter: <%= link_to "@ltakeshi" ,"https://twitter.com/ltakeshi" %>
</p>
<hr>
<h4>その他</h4>
<p>
このwebサイトはRuby2.0+Rails4.0を用いて<%= link_to "Heroku", "https://www.heroku.com/" %>上に構築されています。Herokuの仕様として、1時間サイトにアクセスがなかった場合はアイドル状態に入り、アクセスが遅くなります。
このWebサイトはそこまでアクセスが来る想定では無いので、おそらく利用される方が来るたびにアイドルが解除される状態になるでしょうから、アクセスは遅くなりますが仕様です。
</p>
<p>
また、製作者の都合でメンテナンスが行き届かないとか、BF2:PRから離れてしまった等、トラブルが発生しても対応できない状態が起きた場合にそなえ、このWebサイトの<%= link_to "ソースコード一式" , "https://github.com/ltakeshi/PRMapSelector" %>をgithubにて公開しています。
</br>

<pre>
git clone git@github.com:ltakeshi/PRMapSelector.git
</pre>
などで持って行ってください。
</p>
</div>
