<%= form_tag("/selector/select") do %>
<% @map_all.keys.each do |map| %>
    <div class="">
        <%= image_tag("#{map}.jpg") %>
        <%= check_box 'map', map %>
        <%= label :map, map, @map_all[map]['name']  %>
    </div>
<% end %>

<%= submit_tag "選択" %>
<% end %>
