<%= form_tag("/selector/select") do %>
<%= submit_tag "選択" %>
<div id="masonry-container-check">
<% @map_all.keys.each do |map| %>
    <div class="masonry-checkbox">
        <%= image_tag("#{map}.jpg") %>
        <%= check_box 'map', map %>
        <%= label :map, map, @map_all[map]['name']  %>
    </div>
<% end %>

</div>
<% end %>
