<div class="alert alert-info" >
<a class="close" data-dismiss="alert">&times;</a>
マップを選択してから``ルールを選択する"をクリックしてください。``マップ選択解除"を押すとすべてのマップが未選択状態になります。
</div>
<%= form_tag("/selector/select") do %>
  <%= submit_tag "ルールを選択する" , :class => "btn btn-primary" %>
  <button class="btn btn-warning" id="checkOffAll">マップ選択解除</button>
  <%= javascript_tag do %>
    $("#checkOffAll").click(function() {
    setCheckOffAll()
    return false;
    });
  <% end %>
<hr>
<div id="masonry-container-check">
<% @map_all.keys.each do |map| %>
   <label for= <%= "map_" + map %>>
   <div class="masonry-checkbox nbox">
        <%= image_tag("#{map}.jpg") %>
        <%= check_box 'map', map %>
        <%= @map_all[map]['name']  %>
    </div>
</label>
<% end %>

</div>
<% end %>

<script type="text/javascript">
    function setCheckOffAll() {
        $(function() {
            $("input[type='checkbox']").attr('checked', false);
            })
        $(function() {
            $('input').closest('div').removeClass('checked'); 
            })};
</script>

<script type="text/javascript">
$(function() {
  return $("#masonry-container-check").masonry({
    itemSelector: ".masonry-checkbox",
    isAnimated: true
  });
}); 
</script>

<script type="text/javascript">
    $(function() {
    $('input[type=checkbox]').change(
      function() {
           $('input').closest('div').removeClass('checked');
           $(':checked').closest('div').addClass('checked');
      }
    ).trigger('change');
});
</script>
