<%= form_tag("/selector/result") do %>
<div id="masonry-container-select">
    <% @map_names.each do |name| %>
    <div class="masonry-selectbox nbox">
        <%= image_tag("#{name}.jpg") %>
        <%= @map_all[name]['name'] %>
        <% map_list = []%>
        <% @map_all[name]['rules'].each do |rule| %>
            <% value = @map_all[name]['name'] + ": " + @map_rule[rule] %>
            <% map_list << [ @map_rule[rule] , value]  %>
        <% end %>
        <%= select :map, name , map_list  %>
    </div>
    <% end %>
</div>
<hr>
<%= submit_tag "選択" , :class => "btn btn-primary" %>
<% end %>

<script type="text/javascript">
$(function() {
  return $("#masonry-container-select").masonry({
    itemSelector: ".masonry-selectbox",
    isAnimated: true
  });
});
</script>
